# Python sanal ortamları
.venv/
venv/
env/

# Python geçici dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter geçici dosyaları
.ipynb_checkpoints/

# Gizli ortam değişkenleri
.env
.env.*
*.env

# VS Code ve sistem dosyaları
.vscode/
.DS_Store
Thumbs.db

# Eğitilmiş model dosyaları
*.pkl
*.joblib